* {
    text-decoration: none;
    list-style: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.hw-block {
    display: flex;
    justify-content: center;
    text-align: center;
}

.homework {
    font-family: Lato, sans-serif;
    display: flex;
    justify-content: center;
    color: orange;
    font-weight: 700;
    font-size: 30px;
}


.homework > a {
    margin-top: 75%;
    color: orange;
    font-weight: 700;
    font-size: 30px;
    transition: .3s;
    /*filter: blur(0.7rem);*/
}

.homework > a:hover {
    color: red;
    transform: scale(1.2);
    /*filter: blur(0rem);*/
}